

<div class="login-page">
        <div class="login-spacer"></div>
        <div class="login-container">
          <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
            <i id="lock-icon" class="material-icons">Aeroméxico</i>
          </div>
          <h2 class="card-heading">
            Registro
          </h2>
          <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <mat-form-field >
                    <input matInput placeholder="Nombre" type="text" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && name.invalid }" >
                    <div>
                      <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Solo letras, minimo 3</mdb-error>
                  </div> 
                </mat-form-field>  
                
                    <mat-form-field>
                    <input matInput placeholder="Apellido" type="text" formControlName="apellido" [ngClass]="{ 'is-invalid': submitted && lastNAme.invalid }" >
                    <div>
                      <mdb-error *ngIf="lastNAme.invalid && (lastNAme.dirty || lastNAme.touched)">Solo letras, minimo 3</mdb-error>
                  </div>   
                  </mat-form-field>



            <mat-form-field >
              <input matInput placeholder="Email" formControlName="email" type='text' [ngClass]="{ 'is-invalid': submitted && input.invalid }" >
              <div>
                    <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Email invalido</mdb-error>
                </div> 
            </mat-form-field>  
       
            <mat-form-field>
              <input matInput type='password' placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && passwd.invalid  }" >
              <div>
                    <mdb-error *ngIf="passwd.invalid && (passwd.dirty || passwd.touched)">Password mínima de 6 caracteres, máxima de 14 caracteres</mdb-error>
                </div> 
            </mat-form-field>
            <div class="buttons">
                    <div class="login">
                      <button  mat-raised-button color="primary">Registrate</button>
                    </div>     
                  </div>
                  <div class="buttons">
                    <div class="login">
                      <button  mat-raised-button color="primary" routerLink="/login">Cancelar</button>
                    </div>     
                  </div>
                </form>
                </div>
              </div>
              

